<div ng-if="showType=='-01'" class="wrapper-xl text-center text-md">
    <span class="">没有任何待办！</span>
</div>
<div ng-show="showType=='1'">
	<div class="m-t m-b">
		 <div class="table-responsive m-t-md">
		 	<div ng-src="public/images/loading.gif"></div>
		 	<table class="table prdlist">
		 		<thead>
		 			 <tr>
		 				<th class="text-center">序号</th>
		 			 	<th class="text-center">ID</th>
		 			 	<th class="text-center">Name</th>
		 			 	<th class="text-center">Assignee</th>
		 			 	<th class="text-center">FormResourceName</th>
		 			 </tr>
		 		</thead>
		 		<tbody>
		 			<tr ng-if="isLoading">
		 			</tr>
		 			<tr ng-repeat="task in tasks" class="text-center">
		 				<td>{{$index+1}}</td>
		 				<td>{{task.id}}</td>
		 				<td>{{task.name}}</td>
		 				<td>{{task.assignee}}</td>
		 				<td>{{task.formResourceName}}</td>
		 			</tr>
		 		</tbody>
		 	</table>
		 </div>
	</div>
</div>